bin/*
*/tests/out_*

pblib/BasicPBSolver/CMakeCache.txt
pblib/BasicPBSolver/CMakeFiles/
pblib/BasicPBSolver/Makefile
pblib/BasicPBSolver/cmake_install.cmake
pblib/BasicPBSolver/minisat/
pblib/BasicPBSolver/pbsolver
pblib/CMakeCache.txt
pblib/CMakeFiles/
pblib/Makefile
pblib/cmake_install.cmake
pblib/fuzzer
pblib/lib/
pblib/libpblib.a
pblib/pbencoder
pblib/pbo2maxsat
